.info_spacer {
    position: absolute;
    display: flex;
    bottom: 20px;
    left: 20px;
    width: fit-content;
    height: 120px;
    font-family: "Verdana", sans-serif;
    font-weight: bold;
    flex-direction: column;
}

.info_spacer p {
    display: flex;
    font-size: 26px;
    margin-bottom: 5px;
    padding: 0;
    color: white;
}

.info_spacer h2 {
    display: flex 20px;
    margin: 0 20px;
    font-size: 50px;
    color: #aaa;
}