.graphic_spacer {
    padding-top: 20px;
    width: 200px;
    display: flex;
    align-items: center;
}

.graphic_spacer svg {
    position: relative;
    display: flex;
    width: 160px;
    height: 160px;
    margin: 10px;
}

.info_spacer {
    position: relative;
    display: flex;
    width: 210px;
    height: 100%;
    flex-direction: column;
    padding: 0 15px;
    align-self: start;
    margin-top: 30px;
}

.info_spacer .info_line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Verdana", sans-serif;
    margin-bottom: 5px;
    background: linear-gradient(#343434 60%, #232323);
    border: 2px solid #444;
    box-sizing: border-box;
    padding: 5px 7px;
    border-radius: 5px;
}

.info_line h2 {
    font-size: 10px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    letter-spacing: 1px;
    color: #d4d4d4;
}

.info_line p span {
    font-size: 10px;
    margin-left: 5px;
    margin-top: 3px;
    color: #a4a4a4;
}

.info_line p {
    display: flex;
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #f4f4f4;
}

.select_spacer {
    position: absolute;
    bottom: 10px;
    right: 15px;
    width: 80px;
    height: 26px;
    border-radius: 4px;
    background: linear-gradient(#555 60%, #333);
    border: 1px solid #777;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
}

.select_spacer span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 100%;
    font-size: 9px;
    text-transform: uppercase;
    font-family: "Vilane", sans-serif;
    letter-spacing: 1px;
    color: #b4b4b4;
    box-sizing: border-box;
}

.select_spacer span:hover { cursor: pointer; }

.select_spacer span:first-child {
    border-right: 1px solid #777;
}

.select_spacer span:last-child {
    border-left: 1px solid #777;
}

.select_spacer .selected {
    background: linear-gradient(#343434 60%, #232323);
    color: #f4f4f4;
}

.display_header {
    display: flex;
    position: absolute;
    width: 100%;
    height: 20px;
    top: 0;
}

.display_header h2 {
    font-size: 12px;
    display: flex;
    position: absolute;
    right: 10px;
    top: 4px;
    padding: 0;
    margin: 0;
    font-size: 10px;
    text-transform: uppercase;
    font-family: "Vilane", sans-serif;
    letter-spacing: 1px;
    color: #a4a4a4;
    font-weight: bold;
}