.utility_spacer {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 40px;
    left: 40px;
    display: flex;
    flex-direction: row;
}

.display_spacer {
    position: absolute;
    display: flex;
    width: fit-content;
    top: calc(36px + 12px);
    background: linear-gradient(#f4f4f4 60%, #c4c4c4);
    border-radius: 7px;
    border: 2px solid #b4b4b4;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    z-index: 8;
}

.utility_spacer .button_spacer {
    position: relative;
    width: 50px;
    height: 36px;
    display: flex;
    z-index: 9;
    margin-right: 14px;
}

.button_spacer .button_accent {
    position: absolute;
    bottom: -8px;
    left: 4px;
    width: calc(100% - 8px);
    border-top: 4px solid #999;
    border-radius: 2px;
}

.button_spacer button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 36px;
    background: linear-gradient(#343434 60%, #232323);
    border: 2px solid #444;
    outline: none;
    border-radius: 5px;
    font-size: 18px;
    color: #f4f4f4;
    z-index: 99;
}

.button_spacer button:hover { cursor: pointer; }