.forecast_spacer {
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.forecast_spacer .item_spacer {
    display: flex;
    flex-direction: row;
    height: 80px;
    margin-bottom: 10px;
}

.item_spacer article {
    display: flex;
    flex-direction: row;
    width: 545px;
    overflow: hidden;
}

.item_spacer article .slider_spacer {
    display: flex;
    flex-direction: row;
}

.forecast_item {
    position: relative;
    background: linear-gradient(#b4b4b4 60%, #888);
    border: 2px solid #999;
    box-sizing: border-box;
    border-radius: 5px;
    height: 100%;
    min-width: 100px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9;
}

.button_spacer {
    position: relative;
    display: flex;
    flex-direction: row;
    left: 25px;
    height: 28px;
    align-items: center;
}

.nav_chevron {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 15px;
    margin-right: 10px;
    color: #c4c4c4;
    font-size: 20px;
    z-index: 9;
}

.nav_chevron:hover {
    cursor: pointer;
    color: #777;
}

.button_spacer .selected { border: 2px solid #444; }

.button_spacer button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 24px;
    background: linear-gradient(#343434 60%, #232323);
    border: 2px solid #666;
    outline: none;
    border-radius: 5px;
    margin-right: 10px;
    color: #f4f4f4;
    font-size: 9px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 9;
}

.button_spacer button:hover { cursor: pointer; }

.forecast_item h2 {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.forecast_item img {
    position: relative;
    height: 60px;
    width: 60px;
}

.forecast_item p {
    position: absolute;
    margin: 0;
    padding: 0;
    bottom: 3px;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}